/*  src/Title.css  */
.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-right: 1em;
  margin-bottom: 2em;
  background-color: rgb(52, 29, 182);
  color: #fff;
}
